footer p {
  text-align: center;
  font-size: 1.2rem;
}

.loop {
  width: 35px;
}

@media (prefers-reduced-motion: no-preference) {
  .loop {
    animation: App-logo-spin infinite 10s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
