section {
  text-align: center;
}

h1 {
  font-size: 2em;
  padding: 15px;
}

p {
  text-align: center;
}

img.random-movie {
  border-radius: 10px;
  border: 2px solid white;
  max-width: 70%;
}

figure.random-movie {
  background-color: rgba(0, 0, 0, 0.325);
  padding: 20px 20px 5px;
}

figcaption {
  font-size: 1.2em;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
}
